<h1><%= @next_or_update == 'next' ? "Add" : "Edit" %> Courses</h1>

<% if flash[:notice] %>
  <p style="color: red;"<%= flash[:notice] %></p>
<% end %>

<%= text_field_tag :subject,               nil, value: "Advanced Algebra", placeholder: "ie Algebra"%>
<%= text_field_tag :course_number,         nil, value: "Math_115",         placeholder: "ie MATH_134"%>
<%= text_field_tag :min_students_to_teach, nil, value: "23",               placeholder: "ie 25"%>
<%= button_tag "add", id: "add_course_button" %>
<br><br><br>

<div id="courses_form">
  <%= render partial: "courses_table" %>
  <%= button_tag @next_or_update, id: "save_course_changes_button"  %>
</div>


<%# Calendar maybe %>
<%# https://github.com/robmonie/jquery-week-calendar/wiki %>

